<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <controlSources>
        <source mode="on" namespace="Sitecore.Support.Shell.Applications.ContentEditor" assembly="Sitecore.Support.301026" prefix="content" patch:before="source[@namespace='Sitecore.Shell.Applications.ContentEditor']"/>
    </controlSources>
  </sitecore>
</configuration>