<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <commands>
      <command patch:instead="*[@name='item:workflow']" name="item:workflow" type="Sitecore.Support.Shell.Framework.Commands.Workflow,Sitecore.Support.301026" />
    </commands>
  </sitecore>
</configuration>